h1{
    color: black;
    font-size: large;
    letter-spacing: -2px;
}
p{
    color: black;
    font-size: larger;
    letter-spacing: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    justify-content: center;
    align-items: center;
    width: 140px;
    padding-block: 15px;
}

#playButton{
    border-radius: 50px 50px 50px 50px;
}

#secondButton{
    border-radius: 50px 50px 50px 50px;
    background-color: #e3e3e1;
    border: 1px solid black;
    color: black;
}

#secondButton:hover{
    background-color: black;
    color: white;
}